 .app{
  background-image: url('../public/pexels-brett-sayles-1431822.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.app__alert{
  margin-top: 200px;
  color: red;
  text-align: center;
}

.hourly-container{
  max-width: 960px;
  color: white;
}

.hourly-container > h2 , .daily-container > h2 , .current-container > h2{
  padding-left: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.8);
  color: lightgray;
}

ul{
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  list-style: none;
  display: flex;
  gap: 1rem;
  overflow:scroll;
}

.hourly-item{
  width: 120px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.8);
  gap:4px;
}

.hourly-item__icon{
  display: block;
  width: 100%;
  height: auto;
}

.hourly-item__temp{
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 700;
  color: yellow;
}

.hourly-item__description{
  line-height: 1.6rem;
  text-align: center;
  font-size: 0.8rem;
}

.hourly-item__sun-moon-state{
  font-weight: 600;
  text-align: center;
  color: orange;
}

.hourly-item__time{
  padding: 8px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  text-align: center;
}


.daily-container{
  width: fit-content;
}

.daily-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 400px;
  overflow: scroll;
}

.daily-item{
  color: white;
  padding: 8px;
  display: flex;
  align-items: center;
  gap:1rem;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.8);
}

.daily-item__weekday{
  font-weight: 600;
  font-size: 1.2rem;
}

.daily-item__day-state{
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.daily-item__day-state__icon{
  width: 100%;
  height: auto;
}

.daily-item__day-state__main-status{
  text-align: center;
  font-weight: bold;
}

.daily-item__temp{
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.daily-item__temperature-gradient{
  width: 124px;
  height: 8px;
  background: linear-gradient(to right , yellow , red );
  border-radius: 999px;
}

.daily-item__temp > label:first-of-type {
  font-weight: 600;
  color: yellow;
}

.daily-item__temp > label:last-of-type{
  color: violet;
  font-weight: 600;
}

.current-container{
  color: white;
  width: fit-content;
  background: rgb(0, 0, 0, 0.5);
}

.current__essential{
  padding: 1rem;
  display: flex;
  gap: 2rem;
}

.current__essential__status{
  display: flex;
  flex-direction: column;
}

.current__icon{
  width: 100%;
  height: auto;
}

.current__description{
  text-align: center;
}

.current__essential__now{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:1rem;
}

.current__time{
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
}

.current__temp{
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
  color: yellow;
}

.current__city , .current__city--loading{
  font-size: 2rem;
}


.current__feels-like > span{
  font-size: 1.3rem;
  color: violet;
  font-weight: 600;
}

.search-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(0,0,0,0.5);
  padding: 20px;
  align-items: center;
  width: fit-content;
}

.search__heading{
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  color: lightgray;
}

.search__controller{
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.search__input{
  padding: 10px;
  height: 30px;
  width: 240px;
  border-radius: 10px;
  font-size: 1.2rem;
}

.search__input:focus{
  background-color: wheat;
}

.search__button{
  cursor: pointer;
  padding: 7px 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border: 1px solid white;
}

.search__button:active{
  background-color: green;
  border: 2px solid black;
}

.search__button--default{
  background-color: blue;
}

.search__button--processing{
  background-color: red;
}

.search__request-error{
  color: red;
  font-size: 1rem;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.6);
  padding: 7px;
  border-radius: 4px;
  align-self: flex-start;
}

.current-search-container{
  display: flex;
  gap: 100px;
}





